#resultat {
  color: black;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

#btnTornar {
  margin-top: 2%;
  margin-bottom: 2%;
}

/*Footer*/
#peu {
  margin-top: 0px;
  margin-left: 12.75%;
  margin-bottom: 5px;
  padding: 0;
}

.vertical a {
  display: block;
}

#facebook:hover {
  content: url("../img/image6.jpg");
}
#twitter:hover {
  content: url("../img/image6.jpg");
}
#instagram:hover {
  content: url("../img/image6.jpg");
}
            
.page-footer {
    background-color: #222;
    color: #ccc;
  padding: 18px 0 30px;
}
.page-footer h1 {
  font-size: 20px; 
}

.footer-copyright {
    color: #666;
  padding-top: 10px;
}
/*Fi footer*/