#pagina-interior {
	background: var(--backgroundColor);
}
:root {
    --primaryLightColor: #CCFF90;
    --primaryColor: #99cc60;
    --primaryDarkColor: #386c00;
    --secondaryPlusDarkColor: #FFAB00;
    --secondaryColor: #FFD740;
	--secondaryDarkColor: #FFC400;
	--backgroundColor: #fafafa;
	--backgroundDarkColor: #bdbdbd;
    --sans-serif: Verdana, Geneva, sans-serif;
    --serif: Georgia, serif;
}
.no-space {
    margin: 0;
    padding: 0;
}
/* Estil dels text i imatges*/


h1, h2, h3, p, a, span, label, input, button {
    font-family: var(--sans-serif);
}

/* Fi estil dels text*/


.requadre-informacio {
	border: 1px solid var(backgroundDarkColor);
	border-radius: 5px;
	background: white;
}


/* Estils columnes */
.amplada {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
}
.fila-centrada {
    display: flex; 
    align-items: center;
}

/* Fi estils columnes */

#imatge-fons {
    height: 600px;
    background-image: url('../img/fons.png');
    background-size: cover;
}

/*Barra de navegacio superior*/
#columna-logo a {
	text-decoration: none;
}
#columna-logo span {
    font-family: Goudy Old Style, Helvetica, sans-serif;
    color: black;
	font-weight: bold;
    font-size: 40px;
} 

#columna-logo a:hover{
    opacity: 50%;
}


.btn-opcions {
	font-size: 14px;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin-left: 30px;
    padding: 8px;
}

.btn-opcions:hover {
   background-color: var(--backgroundDarkColor);
   color: black;
}

.btn-opcions:active {
    background: #9d9d9d;

}
.icona {
	color: var(--primaryColor);
	margin-right: 2px;
	vertical-align: bottom;
}

.icona_buida {
	color: var(--primaryDarkColor);
	margin-right: 2px;
	vertical-align: bottom;
}

/*Fi barra navegacio suerior */

/* Barra de cerca central */
.requadre {
	margin-top: 190px;
    margin-left: 5%;
    margin-right: 5%;
	background: var(--backgroundColor);
	border-radius: 5px;
    display: inline-block;
    padding: 50px;
}

.requadre p {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 0;
}

#lema-empresa {
	font-family: var(--serif);
}

#barra-cerca-ciutat {
    margin-top: 5px;
    height: 45px;
    margin-left: 0;
    width: auto;
	border-radius: 5px;
}

.buscador {
	height: 100%;
	font-size: 20px;
    background-color: white;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: none;
}

.sombrejat {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);  
}
.btn-buscar {
    text-decoration: none;
    background-color: var(--secondaryColor);
    color: black;
    height: 100%;
    font-size: 20px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: none;
}

.btn-buscar-desactivat {
    text-decoration: none;
    background-color: var(--secondaryDarkColor);
    color: black;
    height: 100%;
    font-size: 20px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: none;
}

.btn-buscar:hover {
   background-color: var(--secondaryDarkColor);
}

.btn-buscar:active {
    background: var(--secondaryPlusDarkColor);

}
/* Fi barra de cerca central */

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a {
      display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.logo {
		display: none;
	}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
	position: absolute;
	right: 0;
	top: 0;
	}
	.topnav.responsive a {
	float: none;
	display: block;
	text-align: left;
	}
	.btn-opcions {
	  margin-bottom: 10px;
	}
}


/*Graella amb les coses que ofreim*/

#columna1-oferim {
    margin: 0;
    padding-left: 0;
    padding-right: 2%;
}

#columna2-oferim {
    margin:0;
    padding-left: 1%;
    padding-right: 1%;
}

#columna3-oferim {
    padding-left: 2%;
    padding-right: 0;
    margin: 0;
}



#grid1 p {
	text-align: justify;
    margin-top: 8px;
}
#grid1 {
	padding-top: 35px;
}
#grid1 h1 {
	font-size: 30px;
}
#grid1 h2{
    font-size: 20px;
}

/*Fi graella amb les coses que oferim*/


/*
*
*
* Pagina de cerca
*
*
*/
/* ciutat actual */
.centrat-vertical {
	 vertical-align: bottom;
	 position: relative;
	 top: 50%;
	 transform: translateY(-50%);
}
#ubicacio {
	font-size: 80px;
	color: var(--primaryColor);
	
}
#ciutat {
	padding-left: 6px;
	border-left: 1px solid var(--primaryColor);
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/* Fi ciutat actual */

.columna-dreta {
	padding-left: 28px;
	padding-right: 0;
}
/* Barra busqueda */
#barra-cerca-restaurant {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
	height: 45px;
	border-radius: 5px;
}
/* Fi barra busqueda */

/* Filtres de cerca avancada*/
#capcalera h1 {
	display: inline-block;
}
#capcalera a {
	float:right;
}
#box-advanced-filters {
	padding: 15px;
}
#filtres-cerca-avancada h1 {
	font-size: 18px;
	font-weight: bold;
}
#filtres-cerca-avancada h2 {
	font-size: 16px;
	font-weight: bold;
}
#filtres-cerca-avancada h3 {
	font-size: 14px;
}

#preu-min-span, #preu-max-span, #val-min-span, #val-max-span  {
	float: right;
}
.formulari .slider {
	-webkit-appearance: none;
	height: 5px;
	width: 80%;
	border-radius: 20px;  
	background: #d3d3d3;
	outline: none;
	opacity: 1;
	webkit-transition: .2s;
	transition: opacity .2s;
}

.formulari .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 25px;
	border-radius: 10px;
	background: var(--primaryColor);
	cursor: pointer;
}

.formulari .slider::-moz-range-thumb {
	width: 10px;
	height: 25px;
	border-radius: 10px;
	background: var(-primaryColor);
	cursor: pointer;
}

.formulari .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.formulari .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Caixa */
.formulari .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20.5px;
  width: 20.5px;
  background-color: #eee;
}
.grupCheckBox .checkmark {
	border: 1px solid var(--primaryColor);
}
.grupRadioButton .checkmark {
	border-radius: 50%;
}


/* Quan passem per sobre */
.formulari .container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* Color de fons */
.formulari .container input:checked ~ .checkmark {
  background-color: var(--primaryColor);
}

/* Creacio de l'indicador */
.formulari .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Mostrar l'indicador */
.formulari .container input:checked ~ .checkmark:after {
  display: block;
}

/* Estil de l'indicador */
.grupCheckBox .container .checkmark:after {
  left: 6px;
  left: 6px;
  top: 1.5px;
  width: 5px;
  height: 14px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.grupRadioButton .container .checkmark:after {
 	top: 6.25px;
	left: 6.25px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: black;
}

#filtres-cerca-avancada h2 {
	margin-bottom: 20px;
}
/* Fi Filtres Cerca Avancada */

/*Cuines populars*/
#cuines-populars h1 {
	font-size: 18px;
	font-weight: bold;
}
#fons-carousel {
	padding: 10px;
}
.tipus-menjar {
	cursor: pointer;
	background-size: cover;
	background-repeat: no-repeat;
	border: 2px solid var(--backgroundColor);
}
.tipus-menjar:hover {
	opacity: 85%;
}
.tipus-menjar:active {
	opacity: 60%;
}
.tipus-menjar span {
	position: absolute;
	bottom: 12px;
	background: white;
	padding: 5px;
}
.carousel-item {
	height: 130px;
}
.carousel-item .card-body {
	height: 125px;
	padding: 10px;
	border-radius: 5px;
	background-size: 100% 100%;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
	.columna-dreta {
		padding-left: 0;
		margin-top: 20px;
	}
	.requadre {
		margin-top: 100px;
	}
	.requadre2 {
		margin-top: 2px !important;
	}
	#columna1-oferim {
		margin-top: 20px;
		padding-right: 0;
	}
	#columna2-oferim {
		margin-top: 20px;
		padding-left: 0;
		padding-right: 0;
	}

	#columna3-oferim {
		margin-top: 20px;
		padding-left: 0;
	}
	#resum-comanda-final {
		padding-left: 0 !important;
	}
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}


@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
.icona-navegar-cuines-populars {
	vertical-align: middle;
	font-size: 35px;
	color: black;
	background: var(--secondaryColor);
	border-radius: 50%;
}
.carousel-control-prev {
	opacity: 100%;
}
.carousel-control-next {
	opacity: 100%;
}
.icona-navegar-cuines-populars:hover {
	background: var(--secondaryDarkColor);
}
.icona-navegar-cuines-populars:active {
	background: var(--secondaryPlusDarkColor);
}
/*Fi Cuines populars*/

/* Llista Restaurants */
#ordenar-por {
	text-align: right;
}
.dropdown-item {
	font-size: 14px;
}
.casella-restaurant {
	cursor: pointer;
	padding: 12px;
}
.casella-restaurant:hover {
	opacity: 75%;
}
.casella-restaurant:active {
	opacity: 60%;
}

.columna1 {
    margin-top: 0.75%;
    padding-left: 0;
    padding-right: 0.5%;
}

.columna2 {
    margin-top: 0.75%;
    padding-left: 0.25%;
    padding-right: 0.25%;
}

.columna3 {
    padding-left: 0.5%;
    padding-right: 0;
    margin-top: 0.75%;
}
.img-restaurant {
	border-radius: 5px;
	margin-bottom: 6px;
}

#restaurants-disponibles h2 {
	font-size: 20px;
}

#restaurants-disponibles a {
	text-decoration: none;
	color: black;
	font-size: 14px;
}
#restaurants-disponibles i {
	font-size: 20px;
}
.icona-estrella-marcada {
	color: var(--primaryDarkColor);
	vertical-align: bottom;
}
.icona-estrella-no-marcada {
	color: var(--backgroundDarkColor);
	vertical-align: bottom;
}
/* Fi Llista Restaurants */

/*
*
*
* Fi Pagina de cerca
*
*
*/



/*
*
*
* Pagina de restaurant
*
*
*/
/* Informacio restaurants*/
#informacio-restaurant {
	background-image: url('../img/background-restaurant.jpg');
    background-size: cover;
	padding-top: 60px;
	padding-bottom: 60px;
}

#requadre-info-restaurant {
	background: white;
	display: inline-block;
	border: 1px solid var(backgroundDarkColor);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 15px 5%;
}
#horaris {
 color: #007bff;
 cursor: pointer;
}
#horaris:hover {
	color: #0056b3;
	text-decoration: underline;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  padding: 15px;
  z-index: 2;
  border-radius: 3px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*Fi informacio restaurants*/

/* Barra tipus de menjars */
#lema-oferta-platos {
	font-size: 20px;
}

#barra {
	margin-top: 30px;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	z-index: 1;
}
#barra a {
	color: black;
}
.seccio-plat {
	margin-top: 25px;
}

#barra ul {
	flex: auto;
	justify-content: space-between;
}
/* Fi barra tipus de menjars */

/* Plats */
.tag-tipus-menjar {
		font-size: 25px;
}
.plat {
	margin-top: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.columna-esquerra-plat {
	padding-left: 20px;
	padding-right: 0;
}
.columna-dreta-plat {
	padding-left: 20px;
	padding-right: 20px;
}
.columna-sencera-plat {
	padding-left: 20px;
	padding-right: 20px;
}
#nom-plat {
	font-size: 20px;
	font-weight: bold; 
}
#preu {
	font-size: 20px;
	font-weight: bold;
}

.subtitol-restaurant {
	font-size: 18px;
}

.boto-afegir-treure-plat {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}
.icona-afegir-treure-plat {
	vertical-align: middle;
	background: var(--primaryColor);
	border-radius: 50%;
}
.comptador-afegir-treure-plat {
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: middle;
}
.icona-afegir-treure-plat:hover {
   background-color: var(--primaryDarkColor);
}

.icona-afegir-treure-plat:active {
    background: #0a3f00;
}


/* Fi Plats */

/* Resum comanda */
#resum-comanda-triar {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}
.resum-comanda h1, #conjunt-formulari h1 {
	font-size: 18px;
	font-weight: bold;
}
#conjunt-formulari p {
	margin-top: 10px;
}
.resum-comanda h2 {
	font-size: 16px;
	font-weight: bold;
}
.resum-comanda span {
	font-size: 14px;
}
#requadre-comanda {
	padding: 15px;
	background: var(--primaryLightColor);
}
/* Fi Resum comanda */

/* Valoracions */
#valoracions {
	margin-top: 30px;
}
#contorn-valoracions {
	padding: 15px;
}
.icona-valoracions {
	vertical-align: bottom;
}
#valoracions h1 {
	font-size: 25px;
}
/* Fi Valoracions */

/* Comentaris */
#comentaris {
margin-top: 30px;
}
#comentaris h1 {
	font-size: 25px;
}
.resposta {
	margin-top: 1rem;
    margin-left: 4rem;
}
.text-secundari {
	color: #6c757d;
}
.btn-like {
	text-decoration: none;
    background-color: var(--primaryLightColor);
    color: black;
    height: 100%;
    font-size: 16px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: none;
}
.btn-like:hover {
   background-color: var(--primaryColor);
}

.btn-like:active {
    background: var(--primaryDarkColor);
}
/* Fi Comentaris */

/*
*
*
* Fi Pagina de Restaurants
*
*
*/

/*
*
*
* Pagina de Formulari
*
*
*/
#resum-comanda-final {
	padding-left: 80px;
}
#check{
  margin-top: 2%;
}

#btnvisa {
  width: 100px;
}

#btnmaster {
  width: 100px;
}

#btnapple {
  width: 100px;
}

#btngoogle {
  width: 100px;
}

#btnContinuar {
  margin-top: 2%;
  margin-bottom: 2%;
}
/*
*
*
* Final Pagina de Formulari
*
*
*/
/*
*
*
* Pagina Pagament
*
*
*/
.requadre2 {
	margin-top: 75px;
    margin-left: 5%;
    margin-right: 5%;
	background: var(--backgroundColor);
	border-radius: 5px;
    display: inline-block;
    padding: 50px;
}
.requadre2 h1 {
	font-size: 18px;
	font-weight: bold;
}
#btnpagar {
  margin-top: 2%;
}
/*
*
*
* Final Pagina Pagament
*
*
*/
/*
*
*
* Pagina final
*
*
*/
.descarrega {
	cursor: pointer;
	color: var(--primaryColor);
	margin-left: 2px;
	vertical-align: bottom;
}
.descarrega:hover {
	color: var(--primaryDarkColor);
}
.descarrega:active {
	color: #0a3f00;
}
/*
*
*
* Final Pagina Final
*
*
*/
#btnTornar {
	color: black;
}
/*Footer*/
.page-footer {
    background-color: #222;
    color: #ccc;
	padding: 18px 0 30px;
	margin-top: 30px;
}
.page-footer h1 {
	font-size: 20px; 
}
.vertical a {
	display: block;
}
#facebook:hover {
	content: url("../img/facebook_color.png");
}
#twitter:hover {
	content: url("../img/twitter_color.png");
}
#instagram:hover {
	content: url("../img/instagram_color.png");
}
.footer-copyright {
    color: #666;
	padding-top: 10px;
}
/*Fi footer*/
