/* Informacio restaurant */
.no-padding { /*Aquest tambe afecta a alguns altres com la navbar de tipus de menjar*/
	padding: 0;
}
/*Fi informacio restaurant*/

#nil {
	background: red;
}
#ballus {
	background: green;
}
/*Fi Informació restaurant */

/*Barra tipus menu */
#barra {
    background: grey;
}

#opcions-menu {
	flex: auto;
	justify-content: space-between;
}
/*Fi barra tipus menu*/

/* Llista plats*/
#naials {
	text-align: left;
}
/*Fi Llista plats*/

/*Icones + -*/
h2 {
	font-size: 16px;
}
/*Fi icones + -*/
