h1#foo  {
    color: var(--primary-color);
}

#labelCheck{
  color: var(--secondary-text-color);
}
#req_comanda {
  background: var(--primary-dark-color);
}

#comanda{
  background: var(--primary-color);
  margin-top: 2%;
  margin-bottom: 2%;
}

#pagament {
  background: var(--secondary-color);
  color: var(--secondary-text-color);
}

#inputs_pagament{
  margin-top: 3%;
  color: var(--secondary-text-color);
}

#comida {
  margin-top: 1%;
}

#cantidad {
  margin-top: 1%;
  text-align: center;
}
#precio {
  margin-top: 1%;
  text-align: center;
}
#totalPrecio {
  text-align: center;
}
#totalCantidad {
  text-align: center;
}

#check{
  margin-top: 2%;
}

#btnvisa {
  width: 100px;
}

#btnmaster {
  width: 100px;
}

#btnapple {
  width: 100px;
}

#btngoogle {
  width: 100px;
}

#btnContinuar {
  margin-top: 2%;
  margin-bottom: 2%;
  background: var(--secondary-light-color);
  color: var(--secondary-text-color);
  border-color: var(--secondary-dark-color);
}


/*Footer*/
#peu {
  margin-top: 0px;
  margin-left: 12.75%;
  margin-bottom: 5px;
  padding: 0;
}

.vertical a {
  display: block;
}

#facebook:hover {
  content: url("../img/image6.jpg");
}
#twitter:hover {
  content: url("../img/image6.jpg");
}
#instagram:hover {
  content: url("../img/image6.jpg");
}
            
.page-footer {
    background-color: #222;
    color: #ccc;
  padding: 18px 0 30px;
}
.page-footer h1 {
  font-size: 20px; 
}

.footer-copyright {
    color: #666;
  padding-top: 10px;
}
/*Fi footer*/